Login {   
    margin: 1;
    padding: 1;
}

.label_input {
    align: center middle;
    grid-size: 2 1; 
    grid-columns: 1fr 1fr; 
}

#login_button_group {
    align: center middle;
    grid-size: 3 1; /* One row, three columns */
    grid-columns: 1fr 1fr 1fr; /* Distribute columns evenly */
}